$text-light: #CFE0FF;
$text-lighter: #A3ABC5;
$text-darker: #86879E;
$text-dark: #77768B;
$text-gray: #3E303F;

$bg-light-gray: #9498B1;
$bg-dark-gray: #86889F;
$bg-gray: #3E303F;
$bg-light-blue: #CFE0FF;
$bg-dark-blue: #B1BCD7;

$table-bg-1: #ABB4CF;
$table-bg-2: #B9C5E2;
$table-bg-3: #78768B;

